@font-face{
	font-family: 'Dancing Script';
	src: url("fonts/DancingScript-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'Dancing Script';
	src: url("fonts/DancingScript-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* General */

body{
	/* background-image: url("../img/b.jpg"); */
	background-color: #fff;
	font-family: 'Dancing Script', cursive;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
}

header, footer{
	z-index: 99;
	background-color: #f0f7fd;
	text-align: center;
	padding: 4px;
	width: 100%;
}

a:link, a:visited{
	color: #000;
	text-decoration: none;
}

input[type="text"], input[type="number"]{
	color: #000;
	font-size: 1em;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	height: 33px;
	border: none;
	border-bottom: 1px solid #aaa;
	background-color: transparent;
	padding: 2px 3px;
	margin: 3px 0;
}

input[type="text"]:focus{
    border-bottom: 1px solid #f0f7fd;
}


/* Buttons */

.btn-container{
	display: flex;
	position: relative;
	margin: 15px auto 6px auto;
}

.btn-container-center{
	justify-content: center;
}

.btn-container-right{
	justify-content: flex-end;
}

.btn{
	color: #000;
	background-color: #fff;
	margin-left: 3px;
	border: 1px solid #d0d0d0;
    border-radius: 8%;
    padding: 6px 21px;
}

.btn:active{
	background-color: #dedede;
}


/* Modals */

.modal{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modal:target{
	display: block;
	pointer-events: auto;
}

.modal > div{
	padding: 10px;
	width: 80%;
	margin: 2em auto;
	background: #fff;
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.8);
}

.modal > div > div{
	display: inline-block;
	margin: auto 5%;
	width: 90%; 
}

.modal input[type="checkbox"]{
	width: 1.3em;
    height: 1.3em;
    margin: 11px 8px;
}

/* .content-modal-container{
	display: flex;
	justify-content: center;
	width: 100%;
	-webkit-flex-flow: row wrap;
} */


/* List */

ul{
	-webkit-padding-start: 0px;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 5px;
	list-style: none; 	
}

ul.list li:active{
	opacity: 0.7;
	background-color: #000;
}

.list-item{
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 2px 0;
	/* border-bottom: 1px dashed #000; */
	padding: 10px;
	position: relative;
}

.list-item .btn-container{
	margin: 0 auto;
}

.item-label{
	max-width: 90%;
	overflow: auto;
	/* text-overflow: ellipsis; */
	position: relative;
	left: 5%;
}

.item-check{
	height: 1.5em;
	width: 1.5em;
	position: absolute;
	left: 90%;
}



/* Main page */

#main-page-body{
	margin: 37px 0;
}

#main-page-header{
	position: fixed;
	top: 0;
}

#main-page-footer{
	position: fixed;
	bottom: 0;
}

.input{
	background: #fff;	
	width: 200px;
	position: absolute;
	right: 0px;
}

.slideshow{
	margin: 0 auto;
}

.contents{
	-webkit-padding-start: 0px;
	-webkit-margin-before: 5px;
    -webkit-margin-after: 5px;

	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	  
	-webkit-flex-flow: row wrap;
	justify-content: center;
}

.icon-container{
	background-color: #f2f7ff;
	box-shadow: -3px 3px 4px 0px #dfdfdf;
	margin: 4px;
	width: 100%;
	height: 150px;
	overflow: hidden;
	/*border: 1px solid rgba(111, 79, 23, 0.46);
	border-radius: 5px; */
	position: relative;
	cursor: pointer;
}

.dark{
	width: 100%;
	height: 65px;
	position: absolute;
	top: 95px;
	left: 0;
	background-image: linear-gradient(transparent, #333);
	opacity: 0.5;
	z-index: 10;
}

.icon-container:active{
	box-shadow: -3px 3px 4px 0px #d0d0d0;
	background: #ededed;
}

.icon{
	position: relative;
	top: -50px;
	width: 100%;
}

.icon-label{
	z-index: 20;
	display: block;
	position: absolute;
	/* text-align: initial;
	width: initial; */
	top: 73%;
	left: 20px;
	color: #fff;
}


/* Groom page */

#groom-page-body{
	background: url("../img/groomO.png") no-repeat center center fixed;
     background-size: cover; 
    -webkit-background-size: cover;
}




/* Bride page */

#bride-page-body{
	background: url("../img/brideO.png") no-repeat center center fixed;
     background-size: cover; 
    -webkit-background-size: cover;
}



/* Budget page */
#budget-page-body{
	background: url("../img/budgetO.png") no-repeat center center fixed;
     background-size: cover; 
    -webkit-background-size: cover;
}



/* Groom friends page */
#gf-page-body{
	background: url("../img/gfO.png") no-repeat center center fixed;
     background-size: cover; 
    -webkit-background-size: cover;
}

#gf-page-footer{
	background-color: transparent;
}



/* Bride friends page */
#bf-page-body{
	background: url("../img/bfO.png") no-repeat center center fixed;
     background-size: cover; 
    -webkit-background-size: cover;
}



/* Guests page */
#guests-page-body{
	background: url("../img/guestsO.png") no-repeat center center fixed;
     background-size: cover; 
    -webkit-background-size: cover;
}



/* Notes page */
#notes-page-body{
	background: url("../img/notesO.png") no-repeat center center fixed;
     background-size: cover; 
    -webkit-background-size: cover;
}

.notes {
		background: transparent;
	    border: 1px solid #EEEEEE;
        box-shadow: 1px 1px 0 #DDDDDD;
        display: block;
        font-family: 'Dancing Script',cursive;
        font-size: 1em;
        line-height: 50px;
        margin: 2% auto;
        padding: 2% 0 0 2%;
        resize: none;
        height: 550px;
        width: 100%;

        background-image: -moz-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0px);
        background-image: -webkit-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0);
       
        background-size: 100% 50px;

}


.notes:focus {
    outline: none;
}
.save-in-notes{
	text-align: right;
}


/* Tasks page */

#tasks-page-body{
	background: url("../img/tasksO.png") no-repeat center center fixed;
     background-size: cover; 
    -webkit-background-size: cover;
}


